.x4 {
    align-items: flex-start;
    background-color: var(--baby-powder);
    border: 1px none;
    display: flex;
    flex-direction: column;
}

.chat-container-ChatPage {

    align-items: flex-start;
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    width: 656px;
    height: 798px;
}

.chat-container-ChatPage::-webkit-scrollbar {
    display: none;
}

.chat-container-ChatPage ul {
    padding: 0;
    width: 100%;
}

.composer {
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px -1px 0px #00000014;
    display: flex;
    gap: 7px;
    justify-content: flex-end;
}

.overlap-group1 {
    height: 56px;
    width: 100%;
}

.overlap-group2 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--cararra);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 11px 15px;
    margin: 0 10px;

    min-height: 20px;
}

.send-a-message {
    letter-spacing: 0px;
    line-height: normal;
    min-height: 18px;
    min-width: 515px;
}

.sendButton {
    align-items: center;
    display: flex;
    padding: 5px 10px;
    margin: 12px;
}