.optionsBg {
    position: absolute;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionsContainer {
    max-width: 300px;
    min-width: var(--min-width);
    width: 35%;

    background-color: rgba(128,128,129,0.8);
    word-break: break-word;
}

.close-options-btn {
    margin: 2px;
    position: relative;
}

.close-options-bnt-style {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.options-btns{
    margin: 0 2px 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}