.optionsBg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.optionsContainer {
    max-width: 20%;
    width: 20%;
    height: 50%;
    background-color: rgba(128,128,129,0.8);
    margin-top: 80px;
    word-break: break-word;
}

.close-options-btn {
    position: relative;
    margin-left: 2%;
}

.close-options-bnt-style {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}