.composer {
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px -1px 0px #00000014;
    display: flex;
    gap: 7px;
    justify-content: flex-end;
}

.overlap-group1 {
    min-height: 56px;
    width: 100%;
}

.overlap-group2 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--cararra);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 11px 15px;
    margin: 0 10px;

    min-height: 20px;
}

.message-input {
    letter-spacing: 0px;
    line-height: normal;
    height: 18px;
    width: 100%;
}